.headerImg1,.headerImg2 {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.background1 {
  background-image: url('../../assets/imgs/productImg1.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.background2 {
  background-image: url('../../assets/imgs/productImg2.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.headerImg1:hover .background1 {
  transform: scale(1.1);
}
.headerImg2:hover .background2 {
  transform: scale(1.1);
}
.label1,.label2 {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 33px;
  width: 120px;
  height: 50px;
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  text-align: center;
  padding-top: 12px;
  z-index: 1;
}
.label2{
    width: 150px;
}
