@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.App , #root ,body{
  width:100% ;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

h1{
    font-family: "Open Sans", sans-serif;
}

.team-swiper .swiper-button-next,
.team-swiper .swiper-button-prev {
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.team-swiper .swiper-button-next::after,
.team-swiper .swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}


.team-swiper .swiper-button-prev {
  left: 10px;
}
.team-swiper .swiper-button-next {
  right: 10px;
}

.group2:hover .team-swiper .swiper-button-next,
.group2:hover .team-swiper .swiper-button-prev {
  opacity: 1;
}
