.mySwiper1 .swiper-button-prev,
.mySwiper1 .swiper-button-next {
  background-color: black;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper1 .swiper-button-prev:hover,
.mySwiper1 .swiper-button-next:hover {
  box-shadow: 0px 1px 2px white;
}

.mySwiper1 .swiper-button-next::after,
.mySwiper1 .swiper-button-prev::after {
  font-size: 14px;
  color: rgb(89, 87, 87);
  font-weight: 800;
}

.mySwiper1 .swiper-button-prev:hover::after,
.mySwiper1 .swiper-button-next:hover::after {
  font-size: 18px;
  color: white;
}

